{% load static %}
<section class="header-bar">
  <div class="header-container">
    <!-- يسار -->
    <img src="{% static 'images/logo_ld_en.png' %}" alt="SBG L&D" class="logo left">

    <!-- منتصف -->
    <div class="title-block">
      <h1 class="title-ar">إدارة التعلم والتطوير</h1>
      <p class="title-en">Learning &amp; Development Management</p>
    </div>

    <!-- يمين -->
    <img src="{% static 'images/logo_sbg.png' %}" alt="Saudi Binladin Group" class="logo right">
</div>
</section>
